---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

ion-icon {
    vertical-align: sub;
}

update::before {
    content: "Update";
    color: #EC5D1C;
    display: inline-flex;
    vertical-align: super;
    padding: 5px;
    border-radius: 5px;
    background-color: #EC5D1C41;
    font-size: 1vh;
}

docs::before {
    content: "Docs";
    color: whitesmoke;
    display: inline-flex;
    vertical-align: super;
    padding: 5px;
    border-radius: 5px;
    color: #64a4ff;
    background-color: #4b8fee3d;
    font-size: 1vh;
}

blog::before {
    content: "Blog";
    color: whitesmoke;
    display: inline-flex;
    vertical-align: super;
    padding: 5px;
    border-radius: 5px;
    color: #8E51FF;
    background-color: #8E51FF41;
    font-size: 1vh;
}