/*
 * The main dark mode styles
 */

@mixin dark-scheme {
  --border-color: #24282b;
  --foreground-primary: #d3d4d5;
  --foreground-secondary: #a7a9aa;
  --foreground-tertiary: #7c7e80;
  --background-primary: #202427;
  --background-secondary: #1d2022;
  --background-tertiary: #191c1e;
  --accent: linear-gradient(to right, #4b8eee 0%, #10b9de 100%);
  --accent-solid: #66a9f5;
  --accent-secondary: #004ea7;

  /* Framework color */
  --body-bg: var(--main-wrapper-bg);
  --mask-bg: rgb(68, 69, 70);
  --main-wrapper-bg: var(--background-tertiary);
  --main-border-color: var(--border-color);

  /* Common color */
  --text-color: var(--foreground-secondary);
  --text-muted-color: var(--foreground-tertiary);
  --heading-color: var(--foreground-primary);
  --blockquote-border-color: rgb(66, 66, 66);
  --blockquote-text-color: rgb(117, 117, 117);
  --link-color: var(--accent-solid);
  --link-underline-color: var(--accent-solid);
  --button-bg: var(--background-primary);
  --btn-border-color: var(--border-color);
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: var(--btn-border-color);
  --btn-box-shadow: var(--main-wrapper-bg);
  --card-header-bg: var(--background-secondary);
  --label-color: var(--foreground-secondary);
  --checkbox-color: rgb(118 120 121);
  --checkbox-checked-color: var(--link-color);

  /* Sidebar */
  --sidebar-bg: var(--background-secondary);
  --sidebar-muted-color: var(--foreground-tertiary);
  --sidebar-active-color: var(--foreground-primary);
  --nav-cursor-color: var(--foreground-primary);
  --sidebar-btn-bg: var(--background-primary);

  /* Topbar */
  --topbar-text-color: var(--text-color);
  --topbar-wrapper-bg: var(--background-primary);
  --search-wrapper-bg: var(--background-secondary);
  --search-wrapper-border-color: var(--border-color);
  --search-icon-color: var(--foreground-tertiary);
  --input-focus-border-color: var(--foreground-tertiary);

  /* Home page */
  --post-list-text-color: var(--foreground-secondary);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: var(--accent-secondary);
  --btn-paginator-border-color: var(--btn-border-color);
  --btn-text-color: var(--text-color);
  --pin-bg: var(--border-color);
  --pin-color: inherit;

  /* Posts */
  --toc-highlight: var(--accent-solid);
  --tag-bg: rgb(41, 40, 40);
  --tag-hover: rgb(43, 56, 62);
  --tb-odd-bg: var(--background-secondary); /* odd rows of the posts' table */
  --tb-even-bg: var(--background-tertiary); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(63, 81, 181);
  --btn-share-color: var(--foreground-tertiary);
  --btn-share-hover-color: var(--foreground-primary);
  --relate-post-date: var(--text-muted-color);
  --card-bg: var(--background-primary);
  --card-border-color: var(--border-color);
  --card-box-shadow: var(--main-wrapper-bg);
  --preview-img-bg: radial-gradient(circle, rgb(22 22 24) 0%, rgb(32 32 32) 100%);
  --kbd-wrap-color: var(--border-color);
  --kbd-text-color: var(--foreground-primary);
  --kbd-bg-color: var(--background-primary);
  --prompt-text-color: var(--foreground-secondary);
  --prompt-note-bg: rgba(26, 202, 101, 0.2);
  --prompt-note-icon-color: rgb(26, 202, 101);
  --prompt-warning-bg: rgba(246, 165, 34, 0.2);
  --prompt-warning-icon-color: rgba(246, 165, 34);
  --prompt-danger-bg: rgba(244, 17, 98, 0.2);
  --prompt-danger-icon-color: rgb(244, 17, 98);
  --prompt-info-bg: rgba(0, 111, 238, 0.2);
  --prompt-info-icon-color: rgba(0, 111, 238);
  --prompt-support-bg: linear-gradient(90deg,rgba(142, 81, 255, 0.2) 0%, rgba(210, 185, 255, 0.2) 100%);
  --prompt-support-icon-color: rgba(142, 81, 255);

  /* tags */
  --tag-border: var(--border-color);
  --tag-shadow: rgb(32, 33, 33);
  --search-tag-bg: var(--tag-bg);
  --dash-color: rgb(63, 65, 68);

  /* categories */
  --categories-border: var(--border-color);
  --categories-hover-bg: var(--background-primary);
  --categories-icon-hover-color: var(--foreground-primary);

  /* archives */
  --timeline-node-bg: var(--foreground-tertiary);
  --timeline-color: var(--border-color);
  --timeline-year-dot-color: var(--timeline-color);

  .post img[data-src] {
    filter: brightness(95%);
  }

  hr {
    border-color: var(--main-border-color);
  }

  /* posts' toc, override BS */
  nav[data-toggle=toc] .nav-link.active,
  nav[data-toggle=toc] .nav-link.active:focus,
  nav[data-toggle=toc] .nav-link.active:hover,
  nav[data-toggle=toc] .nav > li > a:focus,
  nav[data-toggle=toc] .nav > li > a:hover {
    color: var(--toc-highlight) !important;
    border-left-color: var(--toc-highlight) !important;
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background: var(--background-primary);
  }

  color-scheme: dark;

  #disqus_thread {
    color-scheme: none;
  }

} /* dark-scheme */
