/*
 * The syntax dark mode styles.
 */

@mixin dark-syntax {
  /* Visual Studio Dark (Dark+) Syntax Highlights */
  --highlight-bg-color: #1E1E1E;
  --highlighter-rouge-color: #7ea5f1;
  --highlight-lineno-color: #858585;
  --inline-code-bg: #172B47;
  --code-header-text-color: #5c6265;
  --code-header-muted-color: rgb(50, 50, 50);
  --code-header-icon-color: rgb(128, 128, 128);
  --clipboard-checked-color: #4EC9B0;
  --filepath-text-color: #D4D4D4;

  .highlight pre { background-color: var(--highlight-bg-color); }
  .highlight .hll { background-color: #264F78; }
  .highlight .c { color: #6A9955; } /* Comment */
  .highlight .err { color: #F44747; } /* Error */
  .highlight .k { color: #569CD5; } /* Keyword */
  .highlight .l { color: #B5CEA8; } /* Literal */
  .highlight .n { color: #9CDCFE; } /* Name */
  .highlight .o { color: #D4D4D4; } /* Operator */
  .highlight .p { color: #D4D4D4; } /* Punctuation */
  .highlight .cm { color: #6A9955; } /* Comment.Multiline */
  .highlight .cp { color: #569CD5; } /* Comment.Preproc */
  .highlight .c1 { color: #6A9955; } /* Comment.Single */
  .highlight .cs { color: #6A9955; } /* Comment.Special */
  .highlight .ge { color: inherit; font-style: italic; } /* Generic.Emph */
  .highlight .gs { font-weight: bold; } /* Generic.Strong */
  .highlight .kc { color: #569CD5; } /* Keyword.Constant */
  .highlight .kd { color: #569CD5; } /* Keyword.Declaration */
  .highlight .kn { color: #C586C0; } /* Keyword.Namespace (Control flow like 'import') */
  .highlight .kp { color: #569CD5; } /* Keyword.Pseudo */
  .highlight .kr { color: #569CD5; } /* Keyword.Reserved */
  .highlight .kt { color: #4EC9B0; } /* Keyword.Type */
  .highlight .ld { color: #CE9178; } /* Literal.Date */
  .highlight .m { color: #B5CEA8; } /* Literal.Number */
  .highlight .s { color: #CE9178; } /* Literal.String */
  .highlight .na { color: #9CDCFE; } /* Name.Attribute */
  .highlight .nb { color: #DCDCAA; } /* Name.Builtin */
  .highlight .nc { color: #4EC9B0; } /* Name.Class */
  .highlight .no { color: #4FC1FF; } /* Name.Constant */
  .highlight .nd { color: #DCDCAA; } /* Name.Decorator */
  .highlight .ni { color: #D4D4D4; } /* Name.Entity */
  .highlight .ne { color: #4EC9B0; } /* Name.Exception */
  .highlight .nf { color: #DCDCAA; } /* Name.Function */
  .highlight .nl { color: #9CDCFE; } /* Name.Label */
  .highlight .nn { color: #4EC9B0; } /* Name.Namespace */
  .highlight .nx { color: #D4D4D4; } /* Name.Other */
  .highlight .py { color: #9CDCFE; } /* Name.Property */
  .highlight .nt { color: #569CD5; } /* Name.Tag */
  .highlight .nv { color: #9CDCFE; } /* Name.Variable */
  .highlight .ow { color: #C586C0; } /* Operator.Word */
  .highlight .w { color: #D4D4D4; } /* Text.Whitespace */
  .highlight .mf { color: #B5CEA8; } /* Literal.Number.Float */
  .highlight .mh { color: #B5CEA8; } /* Literal.Number.Hex */
  .highlight .mi { color: #B5CEA8; } /* Literal.Number.Integer */
  .highlight .mo { color: #B5CEA8; } /* Literal.Number.Oct */
  .highlight .sb { color: #CE9178; } /* Literal.String.Backtick */
  .highlight .sc { color: #CE9178; } /* Literal.String.Char */
  .highlight .sd { color: #CE9178; } /* Literal.String.Doc */
  .highlight .s2 { color: #CE9178; } /* Literal.String.Double */
  .highlight .se { color: #D7BA7D; } /* Literal.String.Escape */
  .highlight .sh { color: #CE9178; } /* Literal.String.Heredoc */
  .highlight .si { color: #CE9178; } /* Literal.String.Interpol */
  .highlight .sx { color: #CE9178; } /* Literal.String.Other */
  .highlight .sr { color: #D16969; } /* Literal.String.Regex */
  .highlight .s1 { color: #CE9178; } /* Literal.String.Single */
  .highlight .ss { color: #CE9178; } /* Literal.String.Symbol */
  .highlight .bp { color: #DCDCAA; } /* Name.Builtin.Pseudo */
  .highlight .vc { color: #9CDCFE; } /* Name.Variable.Class */
  .highlight .vg { color: #9CDCFE; } /* Name.Variable.Global */
  .highlight .vi { color: #9CDCFE; } /* Name.Variable.Instance */
  .highlight .il { color: #B5CEA8; } /* Literal.Number.Integer.Long */
  .highlight .gu { color: #6A9955; } /* Generic.Subheading */
  .highlight .gd { color: #F44747; background-color: #311111; } /* Generic.Deleted */
  .highlight .gi { color: #B5CEA8; background-color: #0E2F1A; } /* Generic.Inserted */

  .highlight {
    .gp { color: #858585; } /* Prompt */
  }

  pre { color: #D4D4D4; } /* Visual Studio default text color */
}

@mixin light-syntax {
  @include dark-syntax;
}